[Unit]
Description=Palworld Dedicated Server
After=network.target

[Service]
User=steam
WorkingDirectory={{ palworld_server_dir }}
ExecStart={{ palworld_server_dir }}/PalServer.sh -logformat=json -players=8
Restart=on-failure

[Install]
WantedBy=multi-user.target