OptionSettings=(
Difficulty={{ palworld_server_settings.Difficulty }},
RandomizerType={{ palworld_server_settings.RandomizerType }},
RandomizerSeed="{{ palworld_server_settings.RandomizerSeed }}",
bIsRandomizerPalLevelRandom={{ palworld_server_settings.bIsRandomizerPalLevelRandom }},
DayTimeSpeedRate={{ palworld_server_settings.DayTimeSpeedRate }},
NightTimeSpeedRate={{ palworld_server_settings.NightTimeSpeedRate }},
ExpRate={{ palworld_server_settings.ExpRate }},
PalCaptureRate={{ palworld_server_settings.PalCaptureRate }},
PalSpawnNumRate={{ palworld_server_settings.PalSpawnNumRate }},
PalDamageRateAttack={{ palworld_server_settings.PalDamageRateAttack }},
PalDamageRateDefense={{ palworld_server_settings.PalDamageRateDefense }},
PlayerDamageRateAttack={{ palworld_server_settings.PlayerDamageRateAttack }},
PlayerDamageRateDefense={{ palworld_server_settings.PlayerDamageRateDefense }},
PlayerStomachDecreaceRate={{ palworld_server_settings.PlayerStomachDecreaceRate }},
PlayerStaminaDecreaceRate={{ palworld_server_settings.PlayerStaminaDecreaceRate }},
PlayerAutoHPRegeneRate={{ palworld_server_settings.PlayerAutoHPRegeneRate }},
PlayerAutoHpRegeneRateInSleep={{ palworld_server_settings.PlayerAutoHpRegeneRateInSleep }},
PalStomachDecreaceRate={{ palworld_server_settings.PalStomachDecreaceRate }},
PalStaminaDecreaceRate={{ palworld_server_settings.PalStaminaDecreaceRate }},
PalAutoHPRegeneRate={{ palworld_server_settings.PalAutoHPRegeneRate }},
PalAutoHpRegeneRateInSleep={{ palworld_server_settings.PalAutoHpRegeneRateInSleep }},
BuildObjectHpRate={{ palworld_server_settings.BuildObjectHpRate }},
BuildObjectDamageRate={{ palworld_server_settings.BuildObjectDamageRate }},
BuildObjectDeteriorationDamageRate={{ palworld_server_settings.BuildObjectDeteriorationDamageRate }},
CollectionDropRate={{ palworld_server_settings.CollectionDropRate }},
CollectionObjectHpRate={{ palworld_server_settings.CollectionObjectHpRate }},
CollectionObjectRespawnSpeedRate={{ palworld_server_settings.CollectionObjectRespawnSpeedRate }},
EnemyDropItemRate={{ palworld_server_settings.EnemyDropItemRate }},
DeathPenalty={{ palworld_server_settings.DeathPenalty }},
bEnablePlayerToPlayerDamage={{ palworld_server_settings.bEnablePlayerToPlayerDamage }},
bEnableFriendlyFire={{ palworld_server_settings.bEnableFriendlyFire }},
bEnableInvaderEnemy={{ palworld_server_settings.bEnableInvaderEnemy }},
bActiveUNKO={{ palworld_server_settings.bActiveUNKO }},
bEnableAimAssistPad={{ palworld_server_settings.bEnableAimAssistPad }},
bEnableAimAssistKeyboard={{ palworld_server_settings.bEnableAimAssistKeyboard }},
DropItemMaxNum={{ palworld_server_settings.DropItemMaxNum }},
DropItemMaxNum_UNKO={{ palworld_server_settings.DropItemMaxNum_UNKO }},
BaseCampMaxNum={{ palworld_server_settings.BaseCampMaxNum }},
BaseCampWorkerMaxNum={{ palworld_server_settings.BaseCampWorkerMaxNum }},
DropItemAliveMaxHours={{ palworld_server_settings.DropItemAliveMaxHours }},
bAutoResetGuildNoOnlinePlayers={{ palworld_server_settings.bAutoResetGuildNoOnlinePlayers }},
AutoResetGuildTimeNoOnlinePlayers={{ palworld_server_settings.AutoResetGuildTimeNoOnlinePlayers }},
GuildPlayerMaxNum={{ palworld_server_settings.GuildPlayerMaxNum }},
BaseCampMaxNumInGuild={{ palworld_server_settings.BaseCampMaxNumInGuild }},
PalEggDefaultHatchingTime={{ palworld_server_settings.PalEggDefaultHatchingTime }},
WorkSpeedRate={{ palworld_server_settings.WorkSpeedRate }},
AutoSaveSpan={{ palworld_server_settings.AutoSaveSpan }},
bIsMultiplay={{ palworld_server_settings.bIsMultiplay }},
bIsPvP={{ palworld_server_settings.bIsPvP }},
bHardcore={{ palworld_server_settings.bHardcore }},
bPalLost={{ palworld_server_settings.bPalLost }},
bCharacterRecreateInHardcore={{ palworld_server_settings.bCharacterRecreateInHardcore }},
bCanPickupOtherGuildDeathPenaltyDrop={{ palworld_server_settings.bCanPickupOtherGuildDeathPenaltyDrop }},
bEnableNonLoginPenalty={{ palworld_server_settings.bEnableNonLoginPenalty }},
bEnableFastTravel={{ palworld_server_settings.bEnableFastTravel }},
bIsStartLocationSelectByMap={{ palworld_server_settings.bIsStartLocationSelectByMap }},
bExistPlayerAfterLogout={{ palworld_server_settings.bExistPlayerAfterLogout }},
bEnableDefenseOtherGuildPlayer={{ palworld_server_settings.bEnableDefenseOtherGuildPlayer }},
bInvisibleOtherGuildBaseCampAreaFX={{ palworld_server_settings.bInvisibleOtherGuildBaseCampAreaFX }},
bBuildAreaLimit={{ palworld_server_settings.bBuildAreaLimit }},
ItemWeightRate={{ palworld_server_settings.ItemWeightRate }},
CoopPlayerMaxNum={{ palworld_server_settings.CoopPlayerMaxNum }},
ServerPlayerMaxNum={{ palworld_server_settings.ServerPlayerMaxNum }},
ServerName="{{ palworld_server_settings.ServerName }}",
ServerDescription="{{ palworld_server_settings.ServerDescription }}",
AdminPassword="{{ palworld_server_settings.AdminPassword }}",
ServerPassword="{{ palworld_server_settings.ServerPassword }}",
PublicPort={{ palworld_server_settings.PublicPort }},
PublicIP="{{ palworld_server_settings.PublicIP }}",
RCONEnabled={{ palworld_server_settings.RCONEnabled }},
RCONPort={{ palworld_server_settings.RCONPort }},
Region="{{ palworld_server_settings.Region }}",
bUseAuth={{ palworld_server_settings.bUseAuth }},
BanListURL="{{ palworld_server_settings.BanListURL }}",
RESTAPIEnabled={{ palworld_server_settings.RESTAPIEnabled }},
RESTAPIPort={{ palworld_server_settings.RESTAPIPort }},
bShowPlayerList={{ palworld_server_settings.bShowPlayerList }},
ChatPostLimitPerMinute={{ palworld_server_settings.ChatPostLimitPerMinute }},
CrossplayPlatforms=({{ palworld_server_settings.CrossplayPlatforms|join(',') }}),
bIsUseBackupSaveData={{ palworld_server_settings.bIsUseBackupSaveData }},
LogFormatType={{ palworld_server_settings.LogFormatType }},
bIsShowJoinLeftMessage={{ palworld_server_settings.bIsShowJoinLeftMessage }},
SupplyDropSpan={{ palworld_server_settings.SupplyDropSpan }},
EnablePredatorBossPal={{ palworld_server_settings.EnablePredatorBossPal }},
MaxBuildingLimitNum={{ palworld_server_settings.MaxBuildingLimitNum }},
ServerReplicatePawnCullDistance={{ palworld_server_settings.ServerReplicatePawnCullDistance }},
bAllowGlobalPalboxExport={{ palworld_server_settings.bAllowGlobalPalboxExport }},
bAllowGlobalPalboxImport={{ palworld_server_settings.bAllowGlobalPalboxImport }},
EquipmentDurabilityDamageRate={{ palworld_server_settings.EquipmentDurabilityDamageRate }},
ItemContainerForceMarkDirtyInterval={{ palworld_server_settings.ItemContainerForceMarkDirtyInterval }},
ItemCorruptionMultiplier={{ palworld_server_settings.ItemCorruptionMultiplier }}
)